<% id = Digest::MD5.hexdigest(title) %>

<div id="chart-line-<%= id %>" class="chart"></div>

<script type="text/javascript">
$(document).ready(function() {

    new Highcharts.Chart({
        chart: { renderTo: 'chart-line-<%= id %>', defaultSeriesType: 'line' },
        title: { text: '<%= title %>' },
        xAxis: { categories: [
        <% data.keys.each do |n| %>
            "<%= n %>",
        <% end %>
        ] },
        yAxis: { min: 0, title: { text: 'Commit(s)' }, },
        tooltip: { formatter: function() { return '<b>'+ this.x +'</b>: '+ this.y +' commit(s)'; } },
        legend: { align: 'right', verticalAlign: 'top', x: -50, y: 0 },
        series: [{
            name: 'Commit(s)',
            data: [<%= data.values.join(', ') %>]
        }],
        credits: { enabled: false }
    });

});
</script>
