<% id = Digest::MD5.hexdigest(title) %>

<div id="chart-line-<%= id %>" class="chart"></div>

<script type="text/javascript">
$(document).ready(function() {

    new Highcharts.Chart({
        chart: { renderTo: 'chart-line-<%= id %>', defaultSeriesType: 'line'
        <% if multi then %>
            , margin: [50, 250, 50, 50]
        <% end %>
        },
        title: { text: '<%= title %>' },
        xAxis: { categories: [
        <% if not multi then
            categories = data.keys
        else
            categories = data[data.keys[0]].keys
        end %>
        <% categories.each do |n| %>
            "<%= n %>",
        <% end %>
        ] },
        yAxis: { min: 0, title: { text: 'Commit(s)' }, },
        tooltip: { formatter: function() { return '<b>'+ this.series.name +'<b/><br/>'+ this.x +' - '+ this.y +' commit(s)'; } },
        legend: { layout: 'vertical', style: { right: '50px', top: '0px' } },
        series: [
        <% if not multi then %>
            { name: "<%= @repository %>", data: [<%= data.values.join(', ') %>] }
        <% else %>
            <% data.each do |key, values| %>
            { name: "<%= key %>", data: [<%= values.values.join(', ') %>] },
            <% end %>
        <% end %>
        ],
        credits: { enabled: false }
    });

});
</script>
