<% id = Digest::MD5.hexdigest(title) %>

<div id="chart-pie-<%= id %>" class="chart"></div>

<script type="text/javascript">
$(document).ready(function() {

    new Highcharts.Chart({
        chart: { renderTo: 'chart-pie-<%= id %>' },
        title: { text: '<%= title %>' },
        tooltip: { formatter: function() { return '<b>'+ this.point.name +'</b>: '+ this.y +' commit(s)'; } },
        plotOptions: { pie: {  } },
        legend: { layout: 'vertical', style: { right: <% if multi then %> '50px' <% else %> '0px' <% end %>, top: '0px' } },
        series: [{
            type: 'pie',
            data: [
            <% data.each do |key, value| %>
                ["<%= key %>", <%= value %>],
            <% end %>
            ]
        }],
        credits: { enabled: false }
    });

});
</script>
